<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/7.1/phpunit.xsd"
         mapTestClassNameToCoveredClassName="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         verbose="true"
         bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="MarsRover">
            <file>./test/Model/Coordinate/CoordinateTest.php</file>
            <file>./test/Model/Plateau/PlateauTest.php</file>
            <file>./test/Model/Direction/DirectionTest.php</file>
            <file>./test/Model/Rover/RoverSetupTest.php</file>
            <file>./test/Model/Rover/RoverTest.php</file>
            <file>./test/Model/Rover/RoverSquadTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>